body {
	padding-top: 0px;
}
#wrapper {
	position:absolute;
	top:50%;
	left:50%;
	perspective:900px;
}
#left, #right {
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%, -50%);
	cursor:pointer;
}
#left {
	margin-left:-400px;
	width:0;
	height:0;
	border:0 solid transparent;
	border-top-width:25px;
	border-bottom-width:25px;
	border-right:40px solid black;
}
#right {
	margin-left:400px;
	width:0;
	height:0;
	border:0 solid transparent;
	border-bottom-width:25px;
	border-top-width:25px;
	border-left:40px solid black;
}
#carousel {
	transform-origin:center center -450px;
	transform-style:preserve-3d;
	transition:all 1s;
}
.imgBlock {
	position:absolute;
	top:50%;
	left:50%;
	margin-top:-100px;
	margin-left:-150px;
	width:300px;
	height:200px;
	transform-style:preserve-3d;
	transform-origin:center center;
	z-index:2;
}
.imgBlock:hover .fa-heart {
	opacity:1;
	visibility:visible;
}
.img {
	width:inherit;
	height:inherit;
	object-fit:cover;
}
.heartBlock {
	position:absolute;
	bottom:30px;
	right:30px;
	transform-style:preserve-3d;
	backface-visibility:hidden;
}
.fa-heart {
	position:absolute;
	top:0;
	left:0;
	font-size:18px;
	color:white;
	cursor:pointer;
	opacity:0;
	visibility:hidden;
}
.fas {
	opacity:1;
	visibility:visible;
}
.imgBlock:nth-of-type(1) {
	transform:translate3d(0, 0, 0px) rotateY(0deg);
}
.imgBlock:nth-of-type(2) {
	transform:translate3d(320px, 0, -130px) rotateY(45deg);
}
.imgBlock:nth-of-type(3) {
	transform:translate3d(450px, 0, -450px) rotateY(90deg);
}
.imgBlock:nth-of-type(4) {
	transform:translate3d(320px, 0, -770px) rotateY(135deg);
}
.imgBlock:nth-of-type(5) {
	transform:translate3d(0, 0, -900px) rotateY(180deg);
}
.imgBlock:nth-of-type(6) {
	transform:translate3d(-320px, 0, -770px) rotateY(225deg);
}
.imgBlock:nth-of-type(7) {
	transform:translate3d(-450px, 0, -450px) rotateY(270deg);
}
.imgBlock:nth-of-type(8) {
	transform:translate3d(-320px, 0, -130px) rotateY(315deg);
}

#reaction-1 {
  display: none;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #FFFFFA;
    margin: 10% auto;
    padding: 30px;
    border: 1px solid black;
    border-radius: 10px;
    width: 60%;
    font-size: 18px;
}

#photomodal {
	height:450px;
	background-image: url('../images/lubeck/artdealer/canvas.jpeg');
	background-size: cover;
	background-repeat: no-repeat;
}


.hide {
    color: black;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.hide:hover {
    cursor: pointer;
    transform: scale(1.1);
}

#photogallery {
    
        color: #494949 !important;
        margin:0 auto;
        text-transform: uppercase;
        background: #ffffff;
        padding: 20px;
        border: 4px solid #494949 !important;
        border-radius: 6px;
        display: inline-block;
}

#photogallery:hover {
    color: #ffffff !important;
    background: #f6b93b;
    border-color: #f6b93b !important;
    transition: all 0.4s ease 0s;
    }

.reaction-1 {
    color: #494949 !important;
    margin:0 auto;
    text-transform: uppercase;
    background: #ffffff;
    padding: 20px;
    border: 4px solid #494949 !important;
    border-radius: 6px;
    display: inline-block;
}

.reaction-1:hover {
    color: #ffffff !important;
    background: #f6b93b;
    border-color: #f6b93b !important;
    transition: all 0.4s ease 0s;
	}

	.return-container {
		background-image: url('/images/lubeck/scroll.png');
		background-size: auto;
		background-repeat: no-repeat;
		opacity: 0.8;
		width: 200px;
		height: 135px;
		bottom: 10px;
		text-align: center;
		display: flex;
		align-items: center;
		text-decoration: none;
		font-family: 'Merriweather';
		color: black;
		margin: 0 auto;
		margin-bottom: 50px;
	}

	.return-container:hover {
		transform: scale(1.1);
	}
	
	.no-underline {
	  text-decoration: none;
	}
	
	.container-container {
	  display: flex;
	  flex-direction: column;
	  align-items: center;
	  display: none;
	}

.comment {
	background-image: url('../images/chapters/vintagepaper.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}

  .container {
	padding: 5% 5%;
  }
  
  .talk-bubble {
	  margin: 40px;
	display: inline-block;
	position: relative;
	  width: 380px;
	  height: auto;
	  background-color: lightyellow;
}
	
.border{
	border: 8px solid #666;
}

  .round{
	border-radius: 30px;
	  -webkit-border-radius: 30px;
	  -moz-border-radius: 30px;
}
  
  .tri-right.border.left-top:before {
	  content: ' ';
	  position: absolute;
	  width: 0;
	  height: 0;
	left: -40px;
	  right: auto;
	top: -8px;
	  bottom: auto;
	  border: 32px solid;
	  border-color: #666 transparent transparent transparent;
	}
	
  .tri-right.left-top:after{
	  content: ' ';
	  position: absolute;
	  width: 0;
	  height: 0;
	left: -20px;
	  right: auto;
	top: 0px;
	  bottom: auto;
	  border: 22px solid;
	  border-color: lightyellow transparent transparent transparent;
  }
  
  .tri-right.border.left-in:before {
	  content: ' ';
	  position: absolute;
	  width: 0;
	  height: 0;
	left: -40px;
	  right: auto;
	top: 30px;
	  bottom: auto;
	  border: 20px solid;
	  border-color: #666 #666 transparent transparent;
	}
	
  .tri-right.left-in:after{
	  content: ' ';
	  position: absolute;
	  width: 0;
	  height: 0;
	left: -20px;
	  right: auto;
	top: 38px;
	  bottom: auto;
	  border: 12px solid;
	  border-color: lightyellow lightyellow transparent transparent;
  }
  
  .tri-right.border.btm-left:before {
	  content: ' ';
	  position: absolute;
	  width: 0;
	  height: 0;
	  left: -8px;
	right: auto;
	top: auto;
	  bottom: -40px;
	  border: 32px solid;
	  border-color: transparent transparent transparent #666;
	}
	
  .tri-right.btm-left:after{
	  content: ' ';
	  position: absolute;
	  width: 0;
	  height: 0;
	  left: 0px;
	right: auto;
	top: auto;
	  bottom: -20px;
	  border: 22px solid;
	  border-color: transparent transparent transparent lightyellow;
  }
  
  .tri-right.border.btm-left-in:before {
	  content: ' ';
	  position: absolute;
	  width: 0;
	  height: 0;
	  left: 30px;
	right: auto;
	top: auto;
	  bottom: -40px;
	  border: 20px solid;
	  border-color: #666 transparent transparent #666;
	}
	
  .tri-right.btm-left-in:after{
	  content: ' ';
	  position: absolute;
	  width: 0;
	  height: 0;
	  left: 38px;
	right: auto;
	top: auto;
	  bottom: -20px;
	  border: 12px solid;
	  border-color: lightyellow transparent transparent lightyellow;
  }
  
  .tri-right.border.btm-right-in:before {
	  content: ' ';
	  position: absolute;
	  width: 0;
	  height: 0;
	left: auto;
	  right: 30px;
	  bottom: -40px;
	  border: 20px solid;
	  border-color: #666 #666 transparent transparent;
	}
	
  .tri-right.btm-right-in:after{
	  content: ' ';
	  position: absolute;
	  width: 0;
	  height: 0;
	left: auto;
	  right: 38px;
	  bottom: -20px;
	  border: 12px solid;
	  border-color: lightyellow lightyellow transparent transparent;
  }

  .tri-right.border.btm-right:before {
	  content: ' ';
	  position: absolute;
	  width: 0;
	  height: 0;
	left: auto;
	  right: -8px;
	  bottom: -40px;
	  border: 20px solid;
	  border-color: #666 #666 transparent transparent;
	}
	
  .tri-right.btm-right:after{
	  content: ' ';
	  position: absolute;
	  width: 0;
	  height: 0;
	left: auto;
	  right: 0px;
	  bottom: -20px;
	  border: 12px solid;
	  border-color: lightyellow lightyellow transparent transparent;
  }
  
  .tri-right.border.right-in:before {
	  content: ' ';
	  position: absolute;
	  width: 0;
	  height: 0;
	left: auto;
	  right: -40px;
	top: 30px;
	  bottom: auto;
	  border: 20px solid;
	  border-color: #666 transparent transparent #666;
	}
	
  .tri-right.right-in:after{
	  content: ' ';
	  position: absolute;
	  width: 0;
	  height: 0;
	left: auto;
	  right: -20px;
	top: 38px;
	  bottom: auto;
	  border: 12px solid;
	  border-color: lightyellow transparent transparent lightyellow;
  }
  
  .tri-right.border.right-top:before {
	  content: ' ';
	  position: absolute;
	  width: 0;
	  height: 0;
	left: auto;
	  right: -40px;
	top: -8px;
	  bottom: auto;
	  border: 32px solid;
	  border-color: #666 transparent transparent transparent;
	}
	
  .tri-right.right-top:after{
	  content: ' ';
	  position: absolute;
	  width: 0;
	  height: 0;
	left: auto;
	  right: -20px;
	top: 0px;
	  bottom: auto;
	  border: 20px solid;
	  border-color: lightyellow transparent transparent transparent;
  }
  
  .talktext{
	padding: 1em;
	  text-align: left;
	line-height: 1.5em;
	}
	
  .talktext p{
	-webkit-margin-before: 0em;
	-webkit-margin-after: 0em;
  }

  .lefty{
	position: absolute;
	top:400px;
	left:100px;
  }

  .righty {
	position: absolute;
	top:400px;
	right:100px;
  }

  #artdeal {
	background:url(../images/lubeck/artdealer-min.jpg);
	background-repeat:no-repeat;
	height:	1300px;
	width:1200px;
	position: relative;
  }