body {
    background-image: url(../images/chapters/parchment.jpg);
    background-position: left top;
    margin: 0 auto;
    padding-top: 500px;
    overflow-x:hidden;
}

 .head-image {
    position: absolute;
    top: 0;
    width: 100%;
    height: 500px;
    margin-bottom: 20px;
    display: flex;
    overflow-x: hidden;
}

.parchment-border {
    margin-top: auto;

}

#head-market {
    background-size: cover;
}

#danzig-head-image {
    background: url('../images/chapters/danzig_header2.jpg') no-repeat bottom center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#visby-head-image {
    background: url('../images/chapters/visby header.jpg') no-repeat bottom center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#riga-head-image {
    background: url('../images/chapters/riga.jpg') no-repeat bottom center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#lubeck-head-image {
    background: url('../images/chapters/lubeck1.jpg') no-repeat bottom center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#memory-container {
    width: 800px;
    height: 374px;
    background-image:  url(../images/chapters/market-rsz.jpg);
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-items: center;
    padding: 20px;
    border: 5px solid rgb(0, 0, 0);
}

.nav-icon {
    height: 60px;
    width: 60px;
}

.nav-icon:hover {
    transform: scale(1.1);
    cursor: pointer;
} 

.sidebar {
    position: fixed;
    left: 0px;
    top: 45%;
    width: auto;
    height: auto;
    border: 2px solid black;
    border-radius: 10px;
    background-color: rgba(173, 216, 230, 0.521);
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 10;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #FFFFFA;
    margin: 10% auto;
    padding: 30px;
    border: 1px solid black;
    border-radius: 10px;
    width: 60%;
    font-size: 18px;
}

.close {
    color: black;
    font-size: 28px;
    font-weight: bold;
    justify-self: flex-end;
}

.close:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.container {
    background-color: rgba(255, 255, 250, 0);
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    /* padding-top: 25px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
}

@font-face {
    font-family: GloucesterInitialen;
    src: url('../fonts/GloucesterInitialen.ttf');
}

.chapter-title {
    font-family: 'GloucesterInitialen';
    font-size: 100px;
    color: rgba(0, 0, 0, 0.863);
    margin-top: 50px;
    margin-bottom: 50px;
}

p {
    align-self: flex-start;
    font-family: 'Merriweather';
    line-height: 34px;
    font-size: 18px;
}

p::first-letter {
    font-size: 34px;
}


.button {
    font-size: 20px;
    font-family: 'Merriweather';
    width: 250px;
    height: 150px;
    padding: 30px;
    border: 2px #000 solid;
    border-radius: 10px;
    margin: 30px;
    opacity: 1;
}

#button-a {
    background-image: url(../images/chapters/rsz_2stad.png);
    margin-bottom: 100px;
}

#button-b {
    background-image: url(../images/chapters/rsz_harbour.jpg);
    margin-bottom: 100px;
}

#button-c {
    background-image: url(../images/chapters/lubeck.jpg);
    margin-bottom: 100px;
}

#button-d {
    background-image: url(../images/chapters/rigabutton.jpg);
    margin-bottom: 100px;
}

#button-e {
    background-image: url(../images/chapters/epilogue.jpg);
    margin-bottom: 100px;
}

#button-f {
    background-image: url(../images/chapters/gotoart.jpg);
}

.button:hover {
    cursor: pointer;
    border: 2px solid #000;
    box-shadow: 3px 5px 10px 5px rgba(0, 0, 0, 0.815);
}

.comments {
    width: 500px;
    line-height: 24px;
}

.comments .comment {
    width: 100%;
    margin-bottom: 20px;
}

.comments .comment p {
    margin: 0 0 10px 0;
}

.bubble1, .bubble2 {
    position: relative;
    background: #fffffa;
    border-radius: 10px;
    padding: 20px;
    color: #222;
    font-family: 'Merriweather';
    /*box-shadow: 3px 5px 5px 5px rgba(0, 0, 0, 0.815);*/
}

.bubble2:after {
    content: "";
    display: block;
    position: absolute;
    left: -15px;
    top: 15px;
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-right: 15px solid #fffffa;
    
}

.bubble1:after {
    content: "";
    display: block;
    position: absolute;
    right: -15px;
    top: 15px;
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 15px solid #fffffa;
}

.choice {
    width: 420px;
    text-align: left;
    background: none;
	color: inherit;
    border: 1px solid transparent;
    border-radius: 5px;
	padding: 5px;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.choice:hover {
    background-color: rgba(173, 216, 230, 0.726);
}

.visby-danzig {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.game-completed {
    background-image: url('../images/chapters/scroll.png');
    background-size: auto;
    background-repeat: no-repeat;
    opacity: 0.8;
    width: 200px;
    height: 135px;
    bottom: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    text-decoration: none;
    font-family: 'Merriweather';
    color: black;
    margin: 0 auto;
    margin-bottom: 50px;
}

.game-completed:hover {
    transform: scale(1.1);
    cursor: pointer;
}

#text-padding {
    padding: 20px;
}

.travel-center {
    display: flex;
    justify-content: center;
}

#progressdiv {
    width: 100%;
}

.fadein {
    padding: auto;
    font-weight: bold;
    color: #0f0f0f;
    text-align: center;
    opacity: 0;
  }
  
  span {
    height: auto;
    display: block;
  }
  
  .active{
    animation: fadein 3s;
    opacity: 1;
  }
  
  @keyframes fadein {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  picture {
    min-width: 240px;
  }
  picture img {
    width: 100%;
  }
  .view-poll {
    margin-top:100px;
    
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    opacity: 0;
    transition: all 2s;
    overflow-x:hidden;
  }
  .view-poll:nth-of-type(even) {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  .view-poll:nth-of-type(even) picture {
    order: -1;
  }
  .view-poll.in-view {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
  .view-poll picture {
    flex: 1;
  }
  .view-poll .caption {
    flex: 1;
    padding: 1em;
  }
  

.proloog {
    padding-top: 50px;
    display: flex; 
    align-items: center;
    flex-direction: column;
    position: relative;
}
 
.proloogtext {
    width: 600px;
    font-family: 'Merriweather';
} 

#change-div {
    margin-bottom: 100px;   
}

.text {
    padding: 10px;
    width: 200px;
    height: 20px;
    background-color: #fff;
    border-radius: 5px;
    border: none;
    font-family: 'Merriweather';
    font-size: 16px;
}

.change-btn {
    padding: 10px;
    border: none;
    background-color: lightblue;
    cursor: pointer;
    font-family: 'Merriweather';
    font-size: 18px;
    border-radius: 5px;
    margin-left: 5px;
    margin-right: 5px;
    color: #000;
    border: 2px solid black;
}

.change-btn:hover {
    background-color: rgba(255, 255, 250, 0.596);
} 

.select-container .select select {
    background: transparent;
    line-height: 1;
    border: 0;
    padding: 0;
    border-radius: 0;
    position: relative;
    z-index: 10;
    font-size: 1em;
    
}

.select {
    width: 100px;
    font-family: 'Merriweather';
}

.select-container {
    font-size: 13px;
    padding: 10px 8px 10px 14px;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 6px;
    position: relative;
    width: 100px;
}

#construction {
    display: flex;
    flex-direction: column;
    align-items: center;
}