/*

body {
    background-image: url(rsz_lubeck.jpg);
    background-size:cover;
    background-repeat:no-repeat;
} */
body, html {
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0;
}
body {
    background-color:black;
}

  


  
.sheen {
    position: relative;
    overflow: hidden;
  }
  
  .sheen:after {
    animation: sheen 1s 4s forwards;
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(to bottom, transparent, rgba(255,255,255,0.5) 50%, transparent);
    transform: rotateZ(60deg) translate(-1em, 4em);
  }
  

  
ul {
    list-style-type: none;
}

.nav-ul {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-icon {
    height: 60px;
    width: 60px;
}

.nav-icon:hover {
    transform: scale(1.1);
    cursor: pointer;
}


.sidebar {
    position: fixed;
    left: 0px;
    top: 45%;
    width: auto;
    height: auto;
    border: 2px solid black;
    border-radius: 10px;
    background-color: rgba(173, 216, 230, 0.521);
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #FFFFFA;
    margin: 10% auto;
    padding: 30px;
    border: 1px solid black;
    border-radius: 10px;
    width: 60%;
    font-size: 18px;
}

#log-title {
    margin: 0 auto;
}

.close {
    color: black;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover {
    cursor: pointer;
    transform: scale(1.1);
}


#map {
    border:0; 
    width: 100vw;
    height: 100vh;
}

#map-div {
    position: relative;
}

.return-container {
    background-image: url('/images/lubeck/scroll.png');
    background-size: auto;
    background-repeat: no-repeat;
    opacity: 0.8;
    width: 200px;
    height: 135px;
    position: fixed;
    left: calc(50% - 100px);
    bottom: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    text-decoration: none;
    font-family: 'Merriweather';
    color: black;
    
}

.return-container:hover {
    transform: scale(1.1);
}

#text-padding {
    padding: 20px;
}