*,
*::before,
*::after {
  box-sizing: border-box;
}
/* 
body {
  margin: 20px 0;
  background: inherit;
} */

.grid {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card {
  position: relative;
  transition: all .4s linear;
  transform-style: preserve-3d;
  margin: 5px;
  background-size: cover;
  background: no-repeat center center / contain;
}

.card,
.back,
.front {
  height: 150px;
  width: 150px;
}

.back,
.front {
  position: absolute;
  backface-visibility: hidden;
}

.front {
  background: white url('/images/memory/qm.jpg') no-repeat center center / contain;
}

.back {
  transform: rotateY(180deg);
  background-color: inherit;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.selected {

  transform: rotateY(180deg);

}

.match {

  background-image: none !important;
}

.match .front {
  background: rgba(179, 139, 78, 0) !important;
}