*,
*::before,
*::after {
  box-sizing: border-box;
}

.grid {
  max-width: 960px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 16% 16% 16% 16% 16% 16%;
  grid-template-rows:  33% 33% 33%; 
  justify-content: space-evenly;
}

.card {
  position: relative;
  transition: all .4s linear;
  transform-style: preserve-3d;
  margin: 5px;
  background-size: cover;
  background: no-repeat center center / contain;
}

.card,
.back,
.front {
  height: 100px;
  width: 100px;
}

.back,
.front {
  position: absolute;
  backface-visibility: hidden;
}

.front {
  background: url('/images/memory/question.png') no-repeat center center / contain;
}

.back {
  transform: rotateY(180deg);
  background-color: inherit;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.selected {

  transform: rotateY(180deg);

}

.match {

  background-image: none !important;
}

.match .front {
  background: rgba(179, 139, 78, 0) !important;
}