body {
    padding-top:0;
    overflow-x: hidden;
}
  #hero {
    height: 2000px;
    position: absolute;
    background-color: white;
    z-index: -1;
    width:100%;
  }
.proloog {
    
    height:800px;
    position: relative;
    margin-top:0px;

}
  .layer {
    
    background-repeat: no-repeat;
    background-size: cover;
    width:100%;
    min-height: 1200px;
    height:auto;
    position: fixed;
    z-index:-2;
    /* border:solid green 1px; */
  }
  
  .layer-bg {
    background-image: url("/images/parallax/wave_bg2.png");
    background-repeat: no-repeat;
    width:100% 100%;
    /* border:solid red 1px; */
    
  }
  
  .layer-one {
    background-image: url("/images/parallax/wave_6.png");
    background-repeat: no-repeat;
    width:100% 100%;
  }
  
  .layer-two {
    background-image: url("/images/parallax/wave_4.png");
    background-repeat: no-repeat;
    width:100% 100%;
  }
  
  .layer-three {
    background-image: url("/images/parallax/wave_3.png");
    background-repeat: no-repeat;
    width:100% 100%;
  }
  .layer-four {
    background-image: url("/images/parallax/wave_2.png");
    background-repeat: no-repeat;
    width:100% 100%;
  }


  .layer-five {
    background-image: url("/images/parallax/wave_1.png");
    background-repeat: no-repeat;
    width:100% 100%;
   
  }
  .content {
    background-color: rgb(3, 47, 94);
  }
  

  .percamentus {
    background-image: url(../images/chapters/parchment.jpg);
    width:100vw;

  }

  .color {

    height:500px;
    width:100vw;
    background:linear-gradient(#01131D, rgba(3, 47, 94, 0));
  } 

